{% extends "main/base.html" %}

{% block content %}

<section class="success"> <br>
{% if form.errors %}
  <p>Uživatelské jméno a heslo se neshodují. Zkuste to znovu.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Nemáte oprávnění pro přístup k této stránce.</p>
  {% else %}
    <p>Prosím nalogujte se.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

</section>
{% endblock %}
