{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Petra Vidnerová">

    <title>Malá dráha Skalsko</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">

    <link href="{% static 'css/draha.css' %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top">


<!-- Navigation -->

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a>
            </div>
	    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		{% if LANGUAGE_CODE == "cs" %}
		<li class="hidable"><a href="{% url 'aktuality' %}">Aktuality</a></li>
		{% endif %}
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "O nás" %}<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li class="hidable"><a href="{% url 'onas' %}">{% trans "O nás" %}</a></li>
		    <li class="hidable"><a href="{% url 'fotky' %}">{% trans "Fotky a videa" %}</a></li>
		    <li class="hidable"><a href="{% url 'planek'%}">{% trans "Plánek" %}</a></li>
		  </ul>
		</li>


		<li class="hidable"><a href="{% url 'odkazy'%}">{% trans "Odkazy" %}</a></li>
		<li class="hidable"><a href="#kontakt">{% trans "Kontakt" %}</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Přihlášen jako {{user}}.<span class="caret"></span></a>
		  <ul class="dropdown-menu">
		    <li class="hidable"><a href="{% url 'logout' %}">Odhlásit</a></li>
		  </ul>
		</li>
		{% endif %}
		{% get_language_info_list for LANGUAGES as languages %}
		{% for language in languages %}
		<li class="hidable">
		    <form id="language_{{language.code}}" action="/i18n/setlang/" method="post" style="display: none">
		      {% csrf_token %}
		      <input type="hidden" name="next" value="{{redirect_to}}"/>
		      <input type="hidden" name="language" value="{{language.code}}">
		    </form>
                        <a href="" onclick="$('#language_{{language.code}}').submit(); return false;">{{language.name_local}}</a>
                </li>
		{% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
 </nav>


{% block content %}
{% endblock %}
    

    
    <!-- Footer -->
    <footer class="text-center" id="kontakt">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>{% trans "Kontakt" %}</h3>
                        <p>
			  Petr Vidner, Skalsko 20, okr. Mladá Boleslav <br>
			  {% trans "telefon" %}: +420 608 818 990 <br>
			  e-mail: petr {% trans "tečka" %} vidner {% trans "zavináč" %} seznam {% trans "tečka" %} cz
			</p>
                    </div>
                    <div class="footer-col col-md-1">
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/MalaDrahaSkalsko" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{% trans "Mapa" %}</h3>
                        <p>
			  <a href="http://www.mapy.cz/#x=133845616@y=137152256@z=16@mm=ZP@ax=133845392@ay=137153056@at=Mal%C3%A1%20dr%C3%A1ha%20Skalsko@ad=Velk%C3%A1%20zahradn%C3%AD%20%C5%BEeleznice%207%22%C2%BC%20a%20parostrojn%C3%AD%20muzeum">{% trans "Najdete nás zde" %}</a>
			</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
		      &copy; Petra Vidnerová 2018
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>


</body>

</html>
