{% extends 'main/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<section  id="fotkyvidea" class="success">
  <br>
      <div class="container">
        <div class="row">
	  <div class="col-lg-12 text-center">
            <h2>{% trans 'Fotky a videa' %}</h2>
            <hr class="star-primary2">
          </div>
	  <div class="col-lg-8 col-lg-offset-2 text-center">
	    <p>
	      <iframe width="80%" 
		      src="https://www.youtube.com/embed/-C3Ph82Kyx4">
	      </iframe> 
	    </p>
	    <p><a href="http://youtube.com/steamskalsko" target="_blank">{% trans 'Další vlastní videa' %}</a></p>
	    {% if LANGUAGE_CODE == 'cs' %}
	    <p><a href="http://toulavakamera.ct24.cz/article.asp?id=2637" >Reportáž Toulavé kamery</a></p>
	    {% endif %}
	    <p><a href="http://picasaweb.google.com/mala.draha.skalsko">{% trans 'Fotogalerie' %}</a></p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
