{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Header -->
    <section class="success">
      <br><br>
        <div class="container" id="maincontent">
	  <div class="row">
                <div class="col-lg-6">
                  <img class="img-responsive" src="{% static 'img/logo.png' %}" alt="Malá dráha Skalsko">
		<!-- </div>
		<div class="col-lg-6"> -->
                    <div class="intro-text">
                        <h1 class="name">Malá dráha Skalsko</h1>
                        <!--<hr class="star-primary2">-->
                        <p class="skills">Velká zahradní železnice 7"¼ - Parostrojní muzeum </p>
                    </div>
                </div>
            <!--</div>-->
	    <!--<div class="row">-->
	      <!-- <div class="col-lg-8 col-lg-offset-2" id="notice"> -->
	      <div class="col-lg-6" id="notice">
		{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		<p>
		  {{ message.text|linebreaksbr }}
		</p>
	      </div>
	    </div>
        </div>
    </section>
{% endblock %}
