{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<section class="success" id="onas">
  <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{% trans 'O nás' %}</h2>
                    <hr class="star-primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p>
		    {% blocktrans %}
		    Jedná se o veřejně přístupnou soukromou zahradní železnici budovanou od roku 2007.
		    {% endblocktrans %}
		  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                  <p>
		    {% blocktrans %}
		    V provozu jsou dvě parní lokomotivy, z nich jedna vlastní konstrukce, a motorová lokomotiva. Tři vagóny uvezou každý až 3 dospělé cestující nebo 4 děti.		    {% endblocktrans %}
		  </p>
                </div>
		<div class="col-lg-8 col-lg-offset-2">
                  <p>
		    {% blocktrans %}
		    Trasa dráhy je vedena v poměrně rozlehlé zahradě dvěma okruhy, malým o délce 50m, velkým o délce 350m. Na velkém okruhu je železný železniční most přes vodní nádrž.		    {% endblocktrans %}
		  </p>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
                  <p>		    {% blocktrans %}
		    V muzeu jsou k vidění různé typy modelových i skutečných parních strojů, stabilních motorů, a dva historické traktory.
		    {% endblocktrans %}
		  </p>
		</div>

		<div class="col-lg-8 col-lg-offset-2">
		  <h3> {% trans 'Technické údaje' %} </h3> 
		  <ul class="normal">
		    <li> {% trans 'rozchod' %}: 7¼&quot; (184mm, {% trans 'podle' %} <a href="http://de.wikipedia.org/wiki/Normen_Europ%C3%A4ischer_Modellbahnen">NEM</a>)
		    <li> {% trans 'celková délka kolejí' %}: cca 500m ({% trans 'červenec'%} 2013)
		    <li> {% trans 'poloměry oblouků: 6m na malém okruhu, 9 a 12m na velkém'%}

		    <li> {% trans 'maximální stoupání: 17‰ proti směru hodinových ručiček, 10‰ po směru'%}
		  </ul> 
		</div>
	    </div>
	</div>
    </section>
{% endblock %}
