{% extends 'main/base.html' %}
{% block content %}
<section class="success" id="onas">
  <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O nás</h2>
                    <hr class="star-primary2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p>
		    Jedná se o veřejně přístupnou soukromou zahradní železnici budovanou od roku 2007.
		   </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                  <p>
		    V provozu jsou dvě parní lokomotivy, z nich jedna vlastní konstrukce, a motorová lokomotiva. Tři vagóny uvezou každý až 3 dospělé cestující nebo 4 děti.
		  </p>
                </div>
		<div class="col-lg-8 col-lg-offset-2">
                  <p>
		    Trasa dráhy je vedena v poměrně rozlehlé zahradě dvěma okruhy, malým o délce 50m, velkým o délce 350m. Na velkém okruhu je železný železniční most přes vodní nádrž.
		  </p>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
                  <p>
		    V muzeu jsou k vidění různé typy modelových i skutečných parních strojů, stabilních motorů, a dva historické traktory.
		  </p>
		</div>

		<div class="col-lg-8 col-lg-offset-2">
		  <h3> Technické údaje </h3> 
		  <ul class="normal"> 
		    <li> rozchod: 7¼&quot; (184mm, podle <a href="http://de.wikipedia.org/wiki/Normen_Europ%C3%A4ischer_Modellbahnen">NEM</a>)
		    <li> celková délka kolejí: cca 500m (červenec 2013)
		    <li> poloměry oblouků: 6m na malém okruhu, 9 a 12m na velkém

		    <li> maximální stoupání: 17‰ proti směru hodinových ručiček, 10‰ po směru
		  </ul> 
		</div>
	    </div>
	</div>
    </section>
{% endblock %}
